<div class="form-container">
    <h1 class="form-title">AimTrainer</h1>
    <form>
        <input class="form-input" style="margin-bottom: 1vh" type="text" placeholder="Username" autofocus="true" required="true">
        <input class="form-input" style="margin-bottom: 2vh"  type="password" placeholder="Password" required="true">
        <input class="form-button" style="margin-bottom: 1vh" type="submit" value="Login">
    </form>
    <a href="/register" style="text-decoration: none"><p class="form-small">Create Account</p></a>
</div>